name: run main.py

on:
  push
  #schedule:
  #  - cron: '1,31 8-23 * * *'

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: checkout repo content
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11.4'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Playwright Browsers and System Dependencies
        uses: microsoft/playwright-github-action@v1
        with:
          install-browsers-with-deps: true

      - name: execute py script
        env:
          UW_USERNAME: ${{ secrets.UW_USERNAME }}
          UW_PASSWORD: ${{ secrets.UW_PASSWORD }}
        run: python main.py